::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}
.ppt_content {
  padding-left: 1em;
}
.ppt_desc {
  text-align: center;
  padding-top: 1.2em;
}
.left_div {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 90vh;
  justify-content: center;
  position: absolute;
  width: 158px;
}
.left_div_child {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  box-shadow: 0 4px 10px 0 #0003;
  margin-left: 12px;
  margin-top: 28px;
  max-height: calc(100vh - 130px);
  width: 200px;
}
.left_div_child_child {
  max-height: calc(100vh - 130px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 8px 0 2px;
}
.left_div_item {
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}
.left_div_item_index {
  color: #8d90a5;
  flex-shrink: 0;
  padding-right: 6px;
  padding-top: 30px;
  text-align: right;
  width: 23px;
}
.left_div_item_img {
  height: 81px;
  width: 144px;
  border: 1px solid #ccc;
}
.img_gening {
  text-align: center;
  line-height: 81px;
  color: #666;
  cursor: default;
}
.right_div {
  padding-top: calc(15vh);
}
.right_canvas {
  margin: 0px auto;
  display: block;
  border: 1px solid #666;
}
.ppt_select {
  border: 2px solid #491ff8;
}
.draw_el_class {
  position: fixed;
}
.draw_el_class:hover {
  cursor: text;
  border: 1.5px solid red;
}
.ppt_download {
  float: right;
  margin: 8px;
  cursor: pointer;
}