.outline_content {
  padding-top: 4em;
  text-align: center;
}
.outline_content .input_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.outline_content select, button {
  margin: 0 .8em;
}
.outline_content input[type=file] {
  border: 1px dashed #ccc;
}
.outline_desc {
  font-size: 1em;
  margin-top: 1em;
  color: #999;
  margin-bottom: 4em;
}
.outline {
  text-align: left;
  margin: 0 calc(20vw);
}
.outline_edit {
  width: 32rem;
  margin: 1rem auto;
}