.template_content {
  padding-top: 4em;
  text-align: center;
}
.but_div {
  margin-top: 0.8em;
}
.template_div {
  width: 80%;
  max-width: 1050px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.template {
  margin: 8px;
  width: 240px;
  height: 136px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
  background-color: #ecedf4;
  border: 2px solid transparent;
}
.template img {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
  transition: all .6s ease;
}
.template img:hover {
  transform: scale(1.2);
  transition-duration: .3s;
}
.template_but {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.template_select {
  border: 2px solid #491ff8;
}