html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}






.outline_content {
  padding-top: 4em;
  text-align: center;
}
.outline_content .input_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.outline_content select, button {
  margin: 0 .8em;
}
.outline_content input[type=file] {
  border: 1px dashed #ccc;
}
.outline_desc {
  font-size: 1em;
  margin-top: 1em;
  color: #999;
  margin-bottom: 1em;
}
.outline {
  text-align: left;
  margin: 0 calc(20vw);
}
.outline_edit {
  width: 32rem;
  margin: 1rem auto;
}



::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}
.left_div_item {
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}
.left_div_item_index {
  color: #8d90a5;
  flex-shrink: 0;
  padding-right: 6px;
  padding-top: 30px;
  text-align: right;
  width: 23px;
}
.left_div_item_img {
  height: 81px;
  width: 144px;
  border: 1px solid #ccc;
}
.img_gening {
  text-align: center;
  line-height: 81px;
  color: #666;
  cursor: default;
}
.right_canvas {
  margin: 0px auto;
  display: block;
  border: 1px solid #666;
}
.ppt_select {
  border: 2px solid #491ff8;
}
.draw_el_class {
  position: fixed;
}
.draw_el_class:hover {
  cursor: text;
  border: 1.5px solid red;
}
.ppt_download {
  float: right;
  cursor: pointer;
  margin-right: 1.5rem;
}



.outline_div {
  padding: 15px;
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
}
.outline_div input {
  border: none;
  outline: none;
}
.outline_div input:hover {
  border-width: 1px;
  border-style: inset;
  border-image: initial;
  border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
.operate_div {
  display: none;
}
.subject_div {
  text-align: center;
  margin-bottom: 0.5em;
  color: #3c3c3c;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
}
.chapter_div {
  display: flex;
  align-items: center;
}
.chapter_div:hover > .operate_div {
  display: inline-block;
}
.chapter_title {
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: .375rem;
  margin-right: .8rem;
  border-style: dashed;
  width: max-content;
  display: inline-block;
  color: #624fc4;
  background-color: #e0dcf3;
}
.chapter_name, .page_name, .title_name {
  margin-right: 0.8rem;
  text-align: left;
  display: inline-block;
}
.chapter_name, .page_name {
  font-weight: bold;
}
.page_div {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.page_div:hover > .operate_div {
  display: inline-block;
}
.title_div {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.title_div:hover > .operate_div {
  display: inline-block;
}
.page_number {
  font-weight: 700;
}
.page_number, .title_number {
  width: 3rem;
  margin-right: .5rem;
  text-align: right;
}
.chapter_div:hover, .page_div:hover, .title_div:hover {
  background-color: #f3f3f3;
}
.operate_div span {
  padding: .2rem .4rem;
  margin-right: .5rem;
  cursor: pointer;
}

